# Minimal SD card image for the Roseapple Pi
#
image boot.vfat {
	vfat {
                extraargs = "-F 32 -n BATOCERA"
		files = {
		     "uEnv.txt",
		     "uImage",
		     "boot_logo.bmp.gz",
                     "rootfs.squashfs"
		}
		file kernel.dtb {
		     image = "rg35xx_atm7039.dtb"
		}
	}
	size = 2998M
}

image userdata.ext3 {
	ext3 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "512M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image sdcard.img {
	hdimage {
	}

	partition s500-bootloader {
		in-partition-table = "no"
		image = "bootloader.img"
		offset = 0x200200
	}

	partition u-boot {
		in-partition-table = "no"
		image = "u-boot-dtb.img"
		offset = 0x300000
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
		offset = 8388608
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext3"
	}
}
